numpy
pandas
matplotlib
opencv-python
scikit-learn
scipy
tqdm
Pillow

torch
torchvision
torchaudio

transformers
open_clip_torch

einops

seaborn
h5py
spectral

jupyter
notebook

# if you are using specific version of CLIP it might help

open_clip_torch>=2.20.0
transformers>=4.40.0
torch>=2.2.0
torchvision>=0.17.0